 h1{
    color: brown;
    text-align: center;
    font-size: 50px;
    text-decoration: double underline;
    text-transform: capitalize;
    font-style: italic  
}
div img{
    float: right;
    width:5% ;
}
header nav{
    background-color: darkgray;
    width: 100%;
}
header nav a{
    display: inline-block;
    width: 25%;
}
header nav a:hover{
    background-color: rgb(207, 114, 114);
    color: rgb(231, 228, 228);
    font-style: italic;
}
#im1{
    width: 1500px;
    height: 700px;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
body{
    background-color: rgb(142, 233, 245);
}
footer{
    background-color: darkgrey;
}
table{
    background-color: lightgrey;
    width: 50%;
    margin: 50px;
    border-radius: 20px;
    width: 600px;          
    margin: 0 auto;       
    border: 1px solid #333;
    padding: 20px;
}
h2{
    color: darkblue;
    text-transform: uppercase;
}
h2:hover{
    color: red;
    font-style: oblique;
    text-decoration: solid underline;
}
th{
    color: darkgreen;
    font-family: serif;
    padding: 10px;
    margin: 10px;
}
td img{
    padding: 10px;
    margin: 10px;   
  

}
td img:hover{
    transform: scale(1.5);
    transition: all 0.8s;
    
}
hr {
    border: none;           
    height: 3px;            
    background-color: #080808; 
    margin: 20px 0;         
}
.contact-info{
    font-size: 20px;
    font-style: italic;
    color: rgb(90, 90, 170);

 
}
.contact-form{
    background-color: bisque;
    width: 200px;
    width: 300px;          
    margin: 0 auto;      
    border: 1px solid #333;
    padding: 20px;
}
label{
    color: rgb(94, 72, 109);
    font-style: oblique;
    margin: 5px;
}
input{
    color: aliceblue;
    background-color: #9b7171;
    margin: 5px;
}
textarea{
    font-style: italic;
    font-size: large;
    background-color: #9b7171;
    margin: 5px;
}
button{
    border-radius: 20px;
    margin: 5px;
}

.element1, .element2 {
    display: inline-block;
    vertical-align: top;  
    width: 45%;
    margin-right: 5%;
}